html {
  font-family: Roboto, sans-serif;
  background: transparent;
  overflow: none;
  size: 100%;
}

body {
  background: transparent;
  size: 100%;
  margin: 0;
  position: relative;
}

.card {
  flow: vertical;
  width: 200px;
  height: 240px;
  border-radius: 10px;
  position: absolute;
  left: 100vw;
  top: 50%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 10px 0px;
  background-color: white;
  transform: translate(0, -50%) rotate(0deg) scale(1.0, 1.0);
  transition: transform .5s expo-out, left .5s expo-out;
}

.card.flyin {
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) scale(1.0, 1.0);
}

@keyframes flyout {
  0% {
    foreground-image: url(assets/images/face1.png);
    foreground-position-left: 0px;
    foreground-position-top: 240px;
    foreground-repeat: no-repeat;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  15% {
    foreground-position-top: 0px;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -70%) rotate(0deg);
  }
  35% {
    transform: translate(-50%, -30%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  60% {
    foreground-image: url(assets/images/face2.png) 0px 0px no-repeat;
    transform: translate(-50%, -50%) rotate(5deg);
  }
  80% {
    transform: translate(-30%, -50%) rotate(10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
}

.card.animate {
  foreground-image: url(assets/images/face2.png) 0px 0px no-repeat;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: linear flyout 1s;
}

.card.flyout {
  left: -10%;
  transition: left linear 0.2s;
}

@keyframes nod {
  0% {
    left: 51%;
  }
  25% {
    left: 49%;
  }
  50% {
    left: 51%;
  }
  75% {
    left: 49%;
  }
  100% {
    left: 51%;
  }
}

.card.incorrect {
  animation: linear nod 500ms;
}

.card.flip {
  transition: transform 0.25s expo-in-out;
  transform: translate(-50%, -50%) rotate(0deg) scale(0.0, 1);
}

.question {
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  color: rgb(80, 80, 80);
  margin: auto;
  width: *;
  height: *;
  vertical-align: middle;
}

.answer {
  text-align: center;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid rgb(196, 196, 196);
  font-size: 18px;
  font-weight: bold;
  color: rgb(92, 92, 92);
  padding: 6px 0px 6px 0px;
  width: *;
  height: 21px;
  margin: 8px 8px 0px 8px;
  text-selection-caret-color: rgb(50, 205, 255);
}

.answer.incorrect {
  border-color: red !important;
}

.answer:empty:focus::after {
  content: attr(novalue);
  width: *;
  height: 21px;
  padding: 6px 0px;
  color: rgb(196, 196, 196);
}

.answer:empty {
  color: rgb(196, 196, 196);
}

.answer:focus {
  border-color: rgb(50, 205, 255);
}

.idk {
  behavior: clickable;
  text-transform: uppercase;
  color: rgb(50, 205, 255);
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  width: *;
  text-align: center;
  height: 12px;
  margin: 2px 0px 2px 0px;
  padding: 0px 0px 0px 0px;
}

.play {
  right: 1em;
  bottom: 0.25em;
  position: absolute;
  behavior: clickable;
  font-size: 12px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  hit-margin: 1em;
}

.hidden {
  display: none;
}